header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 100%;
    max-width: 91px;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .brand-logo {
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

header .nav-list {
    display: flex;
}

header .nav-items {
    list-style-type: none;
    font-family: var(--primary-font);
    color: var(--secondary-color);
    font-size: 16px;
    margin-right: 40px;
    font-weight: var(--fw-400);
    line-height: 24px;
    padding: 32px 0;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

header .nav-items:hover {
    color: var(--primary-bg);
}

header .nav-items:last-child {
    margin-right: 0;
}

header .hamburger {
    display: none;
}

header aside{
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1439px) {
    .container {
        max-width: 1300px;
    }
}

/* Large devices (≤1200px) */
@media (max-width: 1201px) {
    .container {
        max-width: 960px;
    }
}

/* Medium devices (≤992px) */
@media (max-width: 993px) {
    .container {
        max-width: 720px;
    }
}

/* Small devices (≤768px) */
@media (max-width: 769px) {
    .container {
        max-width: 540px;
    }

    .nav-items {
        display: none;
    }

    header .hamburger {
        position: relative;
        display: block;
        height: 30px;
        width: 30px;
        transition: all 0.2s ease-in-out;
    }

    header .line {
        position: absolute;
        width: 90%;
        background-color: black;
        height: 3px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.3s ease-in-out;
    }

    header .line:first-child {
        top: 5px;
    }

    header .line:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    header .line:last-child {
        bottom: 5px;
    }

    .open .line:nth-child(2) {
        opacity: 0;
    }

    .open .line:first-child {
        transform: rotate(45deg);
        left: 2px;
        top: 14px;
    }

    .open .line:last-child {
        transform: rotate(-45deg);
        left: 2px;
        top: 14px;
    }

    header .mobile-nav-list{
        list-style-type: none;
    }

    header .mobile-nav-items{
        font-family: var(--primary-font);
        margin-bottom: 10px;
    }

}

/* Extra small devices (≤430px) */
@media (max-width: 525px) {
    .container {
        max-width: 360px;
        margin: 0 auto;
    }
}