.wellbeing .reuseable-wrapper {
    background-color: var(--secondary-bg);
    border-radius: 12px;
    display: flex;
    padding: 91px 112px 51px;
}


.wellbeing .reuseable-left-content {
    max-width: 589px;
}

.wellbeing .reuseable-right-content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.wellbeing .reuseable-card-wrapper {
    display: flex;
    padding-top: 61px;
}

.wellbeing .reuseable-illustration {
    transform: translateY(51px);
}

.wellbeing .reuseable-card {
    width: 260px;
}

.wellbeing .reuseable-card:last-child {
    margin-left: 69px;
}

.wellbeing .leaf-img {
    background-color: var(--primary-bg);
    display: inline-flex;
    padding: 14px 16px;
    border-radius: 9px;
    margin-bottom: 20px;
}

.wellbeing .reuseable-card-text {
    font-family: var(--secondary-font);
    font-weight: var(fw-400);
    font-size: 16px;
    line-height: 24px;
}

@media (max-width: 1439px) {
    .container {
        max-width: 1300px;
    }
}

/* Large devices (≤1200px) */
@media (max-width: 1201px) {
    .container {
        max-width: 960px;
    }

    .wellbeing .reuseable-wrapper {
        padding: 64px 112px;
        justify-content: center;
    }


    .wellbeing .section-heading {
        text-align: center;
        padding-top: 0;
    }

    .wellbeing .reuseable-right-content {
        display: none;
    }

    .wellbeing .reuseable-left-content {
        width: 100%;
        padding: 0px
    }

    .wellbeing .reuseable-card-wrapper {
        justify-content: space-between;
        padding-top: 69px;
    }

    .wellbeing .reuseable-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .wellbeing .reuseable-card:last-child {
        margin-left: 0px;
    }
}

@media (max-width: 1025px) {
    .container {
        max-width: 884px;
    }
}

/* Medium devices (≤992px) */
@media (max-width: 993px) {
    .container {
        max-width: 720px;
    }
}

/* Small devices (≤768px) */
@media (max-width: 769px) {
    .container {
        max-width: 600px;
    }

    .wellbeing .reuseable-card-wrapper {
        flex-direction: column;
        align-items: center;
        padding-top: 85px;
    }

    .wellbeing .reuseable-card:last-child {
        padding-top: 26px;
    }

}

/* Extra small devices (≤430px) */
@media (max-width: 575px) {
    .container {
        max-width: 360px;
        margin: 0 auto;
    }

    .wellbeing .reuseable-card-wrapper {
        padding-top: 40px;
    }

    .wellbeing .reuseable-left-content {
        padding: 64px 0;
    }
}